@import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css");

:root {
  --color-black: #1a1a1d;
  --color-light-grey: #b7b7b7;
  --color-dark-blue: #0015a6;
  --color-beige: #bfbba9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
